{
  "root": true,
  "env": {
    "browser": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
  "globals": {
    "figma": "readonly",
    "__html__": "readonly"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
