.Preview_wrap {
  padding: 0.5rem;
  height: 8rem;
  background: var(--gray);
}

.Preview_indication {
  color: var(--dark-gray);
  font-size: var(--font-size-small);
}

.Preview_warning {
  font-size: var(--font-size-small);
}
