.MediaUploader_summary {
  font-size: var(--font-size-small);
  margin-bottom: 0.5rem;
  cursor: pointer;
  padding: 0.2rem;
}

.MediaUploader_wrap {
  height: 5rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border: 2px solid var(--dull-gray);
}

.MediaUploader_Input {
  height: 100%;
}

.MediaUploader_uploaded_wrap_list {
  padding: 1rem;
  height: 8rem;
  overflow: scroll;
  background: var(--gray);
  margin-bottom: 0.5rem;
}
