.InspectorList_workspace_list {
  width: 100%;
  padding-bottom: 0.5rem;
  position: relative;
}

.InspectorList_workspace_name,
.InspectorList_workspace_name--selected {
  width: 100%;
  text-align: left;
  margin-right: 0.5rem;
  padding: 0.5rem;
  min-height: 2rem;
  border-radius: 0.5rem;
  border: 2px solid var(--dull-gray);
  color: var(--dull-gray);
  transition: background var(--animate-fast) ease-in-out,
    color var(--animate-fast) ease-in-out;
}

.InspectorList_workspace_name:focus,
.InspectorList_workspace_name:hover,
.InspectorList_workspace_name--selected {
  background: var(--dull-gray);
  color: var(--black);
}

.InspectorList_workspace_delete {
  position: absolute;
  top: -0.25rem;
  right: -0.25rem;
  width: 1.25rem;
  height: 1.25rem;
  font-size: var(--font-size-small);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--white);
  border: solid 2px var(--dull-gray);
  color: var(--dull-gray);
  transition: transform var(--animate-fast) ease-in-out;
}

.InspectorList_workspace_delete:focus,
.InspectorList_workspace_delete:hover {
  border: solid 2px var(--dark-gray);
  color: var(--dark-gray);
  transform: scale(1.1);
}
