:root {
  --font-size-large: 2rem;
  --font-size-medium: 1rem;
  --font-size-small: 0.8rem;
  --gray: #eeeeee;
  --dull-gray: #cecece;
  --dark-gray: #7e7e7e;
  --black: #333333;
  --blue: #5ca0c4;
  --green: #5cb175;
  --light-blue: #81b1da;
}

* {
  box-sizing: border-box;
  margin: 0;
  color: var(--black);
}

*:focus {
  outline: 3px solid var(--light-blue);
}

body,
html {
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  padding: 16px;
  padding-top: 8px;
  width: 100%;
  height: 100%;
}

.container > section {
  margin-bottom: 0.5rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  word-break: break-all;
}

h1,
h2 {
  font-size: var(--font-size-small);
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

input[type='submit'] {
  border: none;
  cursor: pointer;
  outline: none;
  appearance: none;
}
