:root {
  --font-size-large: 2rem;
  --font-size-medium: 1rem;
  --font-size-small: 0.8rem;
  --gray: #eeeeee;
  --dull-gray: #cecece;
  --dark-gray: #7e7e7e;
  --black: #333333;
  --blue: #55a0c4;
  --light-blue: #9fbcd4;
  --green: #559e6b;
  --light-green: #80bb92;
  --warn: #aa4a4a;
  --white: #f8f8f8;
  --animate-fast: 0.1s;
  --animate-middle: 0.4s;
  --animate-slow: 0.8s;
}

* {
  box-sizing: border-box;
  margin: 0;
  color: var(--black);
  transition: background var(--animate-fast) ease-in-out,
    color var(--animate-fast) ease-in-out,
    transform var(--animate-fast) ease-in-out,
    box-shadow var(--animate-fast) ease-in-out;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--light-blue);
}

body,
html {
  padding: 0;
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.025rem;
}

.container {
  padding: 16px;
  padding-top: 8px;
  width: 100%;
  height: 100%;
}

.container > section {
  margin-bottom: 0.5rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  word-break: break-all;
}

h1,
h2 {
  font-size: var(--font-size-small);
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

input[type='submit'] {
  border: none;
  cursor: pointer;
  outline: none;
  appearance: none;
}
