.Inspector_workspace_wrap {
  /* font-size: var(--font-size-small); */
  background: var(--gray);
  padding: 1rem;
  height: 8rem;
  overflow: scroll;
}

.Inspector_form {
  margin-top: 0.5rem;
  font-size: var(--font-size-small);
  display: flex;
}

.Inspector_form_input {
  margin-right: 0.5rem;
  height: 2rem;
  padding: 0.5rem;
  width: 64rem;
  border: solid 2px var(--dull-gray);
  border-radius: 0.5rem;
}

.Inspector_form_warning {
  font-size: var(--font-size-small);
  color: var(--black);
  height: 1.5rem;
}
