.Inspector_workspace_wrap {
  font-size: var(--font-size-small);
  background: var(--gray);
  padding: 0 0.5rem;
  padding-top: 0.5rem;
  height: 8rem;
  overflow: scroll;
}

.Inspector_workspace_li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.Inspector_workspace_name,
.Inspector_workspace_name--selected {
  width: 100%;
  text-align: left;
  margin-right: 0.5rem;
  padding: 0.5rem;
  min-height: 2rem;
}

.Inspector_workspace_name:hover {
  background: var(--dull-gray);
}

.Inspector_workspace_name--selected {
  background: var(--dull-gray);
}

.Inspector_workspace_delete {
  width: 1.5rem;
  font-size: var(--font-size-medium);
}

.Inspector_workspace_delete:hover {
  background: var(--dull-gray);
}

.Inspector_form {
  margin-top: 0.5rem;
  font-size: var(--font-size-small);
  display: flex;
}

.Inspector_form_input {
  margin-right: 0.5rem;
  height: 2rem;
  padding: 0.5rem;
  width: 100%;
  border: solid 1px var(--black);
}

.Inspector_form_submit {
  background: var(--green);
  color: white;
  width: 3.5rem;
  height: 2rem;
  font-size: var(--font-size-small);
}

.Inspector_form_warning {
  font-size: var(--font-size-small);
  color: var(--black);
}
